@font-face {
  font-family: 'Inter UI Regular';
  font-style: normal;
  font-weight: normal;
  font-feature-settings: 'tnum';
  src: local('Inter UI Regular'), url('/font/Inter-UI-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Inter UI Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Inter UI Bold'), url('/font/Inter-UI-Bold.woff') format('woff');
}

.font-inter-regular {
  font-family: 'Inter UI Regular';
}

.font-inter-bold {
  font-family: 'Inter UI Bold';
}

html {
  @apply font-inter-regular;
  font-size: 14px;
}

.el-page-header__content {
  font-size: 14px;
}

.font-sm {
  font-size: 12px;
}

.el-input__inner,
.el-button,
.el-form-item__label,
.el-dropdown-menu__item,
.el-select-dropdown__item,
.el-date-picker__header-label,
.el-date-table th,
.el-table th > .cell,
.el-picker-panel,
.el-year-table td .cell,
.el-month-table td .cell,
.el-breadcrumb__item:last-child .el-breadcrumb__inner,
.el-checkbox__label,
.el-table .cell {
  @apply text-black;
}

.el-loading-spinner .el-loading-text,
.el-loading-spinner i {
  @apply text-pink-500;
}

.el-button--primary {
  @apply text-white;
}

.el-dropdown-menu.search {
  @apply px-4;
}

button:focus,
:focus {
  @apply outline-none;
}

.el-select-dropdown__item.selected,
.el-table th,
.el-breadcrumb__inner a,
.el-breadcrumb__inner.is-link {
  @apply font-normal;
}

.el-form-item.is-error .el-upload-dragger,
.el-form-item.is-error .el-upload-dragger:focus {
  border-color: #F56C6C;
}

.el-table thead th {
  background: #F5F7FA;
}

.el-table th > .cell {
  @apply font-inter-bold;
}

.el-table .final-row {
  background: #f0f9eb;
}

.el-table .warning-row {
  background: #fdf5e6;
}

.el-table--small td {
  padding: 4px 0;
}

.el-upload,
.el-upload-dragger,
.el-date-editor.el-input,
.el-range-editor.el-input__inner,
.el-select {
  @apply w-full;
}

.el-dropdown-link {
  color: #409EFF;
}

.px-80 {
  padding-left: 20rem;
  padding-right: 20rem;
}

.balance-table {
  @apply w-full font-sm;
}

.balance-table td,
.balance-table th {
  padding: 4px 8px;
  border-bottom: 1px solid #ebeef5;
}

.dropmenu.el-menu.el-menu--horizontal {
  border-bottom: 0;
  display: inline-block;
}

.el-menu--horizontal .el-menu .el-menu-item,
.el-menu--horizontal .el-menu .el-submenu__title {
  padding: 0 20px;
}

.el-menu--horizontal > .el-submenu .el-submenu__title:hover,
.el-submenu__title:hover,
.el-menu {
  background-color: transparent;
}

.el-menu--horizontal > .el-submenu.is-active .el-submenu__title,
.el-submenu.is-active .el-submenu__title {
  border-bottom: 0;
}

.el-table-column--selection.is-leaf .cell {
  padding-left: 14px;
}

.el-table-column--selection .cell {
  padding-right: 10px;
}

.dropmenu.el-menu--horizontal > .el-submenu {
  float: none;
}

.dropmenu.el-menu--horizontal > .el-submenu .el-submenu__title {
  height: 8px;
  line-height: 0;
  padding: 0 10px;
}

.dropmenu.el-menu--horizontal > .el-submenu .el-submenu__icon-arrow {
  font-size: 14px;
}

.el-menu-item.is-disabled {
  opacity: 1;
  color: #bbb !important;
  background: #fff !important;
}

.el-breadcrumb__item {
  float: none;
}
