html {
  font-family: sans-serif;
  font-size: 14px;
}

.el-page-header__content {
  font-size: 14px;
}

.font-sm {
  font-size: 12px;
}

.el-dropdown-menu.search {
  @apply px-4;
}

button:focus,
:focus {
  @apply outline-none;
}

.el-select-dropdown__item.selected,
.el-table th,
.el-breadcrumb__inner a,
.el-breadcrumb__inner.is-link {
  @apply font-normal;
}

.el-form-item.is-error .el-upload-dragger,
.el-form-item.is-error .el-upload-dragger:focus {
  border-color: #F56C6C;
}

.el-table thead th {
  background: #F5F7FA;
}

.el-table .final-row {
  background: #f0f9eb;
}

.el-table .warning-row {
  background: #fdf5e6;
}

.el-upload,
.el-upload-dragger,
.el-date-editor.el-input,
.el-range-editor.el-input__inner,
.el-select {
  @apply w-full;
}

.el-dropdown-link {
  color: #409EFF;
}

.px-80 {
  padding-left: 20rem;
  padding-right: 20rem;
}

.balance-table {
  @apply w-full font-sm;
}

.balance-table td,
.balance-table th {
  padding: 4px 8px;
  border-bottom: 1px solid #ebeef5;
}

.dropmenu.el-menu.el-menu--horizontal {
  border-bottom: 0;
  display: inline-block;
}

.el-menu--horizontal>.el-submenu .el-submenu__title:hover,
.el-submenu__title:hover,
.el-menu {
  background-color: transparent;
}

.el-menu--horizontal>.el-submenu.is-active .el-submenu__title,
.el-submenu.is-active .el-submenu__title {
  border-bottom: 0;
}

.el-table-column--selection .cell {
  padding-right: 10px;
}

.dropmenu..el-menu--horizontal > .el-submenu {
  float: none;
}

.dropmenu.el-menu--horizontal > .el-submenu .el-submenu__title {
  height: 8px;
  line-height: 0;
  padding: 0 10px;
}

.dropmenu.el-menu--horizontal > .el-submenu .el-submenu__icon-arrow {
  margin-left: 0;
  font-size: 14px;
}
