html {
  font-family: sans-serif;
}

button:focus {
  @apply outline-none;
}

.el-date-editor--daterange.el-input__inner {
  @apply w-full;
}

.px-80 {
  padding-left: 20rem;
  padding-right: 20rem;
}
